<html>
<head>
<title>Login Form</title> 
    
<body>
    <form action="/sample_data/gmail" method="post" enctype="text/plain">
        <input type="email" name="email">Email</input>
        <input type="submit" name="gmail">submit</input>
    </form>
</body>   
</head>    
</html>
