<head>
    <title>know more</title>
</head>
<body>
    <h1>INDORE MUNICIPAL CORPORATION</h1>
    <h2>Corporate Social Responsibility</h2>
<h3 class="hea">WEALTH OUT OF WASTE</h3>
<img src="https://csr.ghmc.gov.in/images/InnerImages/Dry%20resource.jpg" class="image">;
<div class="para">
    <h3>Dry Resource Centers</h3>
    <p>Dry waste collected by Swachh autos has a huge potential as recyclable waste. They have dual environmental and livelihood benefits. Not only is recycle and reuse a mantra for future, Collecting and segregating this waste can provide additional economic benefit to waste collectors. GHMC has 24 transfer stations wherein segregated waste is brought by Swachh auto tippers, dry resource centres can be facilitated at all these locations.
        We are partner with ITC and Godrej who are spending the 24 DRC’s centres and also involved in intensive segregating programme for dry resource and sanitation programme.</p>
</div>
<h3>Details about JunkStores</h3>
<table>
    <tr>
        <th>Waste_ID</th>
        <th>Junkstore_name</th>
        <th>Collected_date</th>
        <th>Dry_quantity</th>
        <th>Dry_Price</th>
        <th>Wet_quantity</th>
        <th>Paid_Amount</th>
    </tr>
    <tr>
        <th>01</th>
        <th>Ajay</th>
        <th>01-12-2021</th>
        <th>31</th>
        <th>40000</th>
        <th>20</th>
        <th>25000</th>
    </tr>
    <tr>
        <th>02</th>
        <th>Janaki</th>
        <th>12-10-2022</th>
        <th>53</th>
        <th>60000</th>
        <th>35</th>
        <th>48000</th>
    </tr>
    <tr>
        <th>03</th>
        <th>Kanak</th>
        <th>09-09-2021</th>
        <th>25</th>
        <th>35000</th>
        <th>24</th>
        <th>18000</th>
    </tr>
    <tr>
        <th>04</th>
        <th>Laxman</th>
        <th>15-05-2022</th>
        <th>98</th>
        <th>120000</th>
        <th>35</th>
        <th>80000</th>
    </tr>
    <tr>
        <th>05</th>
        <th>Kamala</th>
        <th>07-07-2022</th>
        <th>28</th>
        <th>37500</th>
        <th>15</th>
        <th>15750</th>
    </tr>

</table>
<img src="https://csr.ghmc.gov.in/images/InnerImages/Organiccomposters.jpg" class="image">
<div class="para">
    <h3>Organic Composters</h3>
    <p>Another key sector in waste management is wet waste reusage. Wet waste can converted to organic manure for use in our parks and road side greenery. Two thirds of the waste generated is wet waste. GHMC has installed about 3 small composting units in its parks so far. There are varied shredders and wet waste composters in the market, starting cost is 2.5 lakh depending on the tonnage of the machine.
        GHMC introduced 7 organic composter centres in many hotels and companies, have came from to GHMC our companies’ partner and current partners are google and Ramkey.</p>
</div>
<h3>ORGANISATION</h3>
<img src="https://assets.vogue.in/photos/5d5ce3576bda97000860ec97/2:3/w_400,h_200/f.jpg" class="imge">
<div class="para">
<p> The current climate crisis dictates that the general global population becomes mindful of their consumption patterns, and engage in sustainable practices for your waste segregation and management. There are many things you can do at home to do your bit for the environment, but should you need it, help is available outdoors as well. A variety of organisations have been launched in India itself, to help you reuse, reduce and recycle the products you use on an everyday basis. Ahead, we list down eight such startups and services that are trying to take you one step closer to a sustainable future.</p>
</div>
<table>
    <h3>Details About Organisations</h3>
<tr>
    <th>Waste_ID</th>
    <th>Junkstore_name</th>
    <th>Address</th>
    <th>Type of waste</th>
    <th>Product produced</th>
</tr>
<tr>
    <th>01</th>
    <th>Ajay</th>
    <th>Veer Bazar Road,New Delhi</th>
    <th>Dry</th>
    <th>Door-mats</th>
</tr>
<tr>
    <th>02</th>
    <th>Janaki</th>
    <th>Khushboo mehal road,Kolkata</th>
    <th>Dry and Wet</th>
    <th>Dog-collars</th>
</tr>
<tr>
    <th>03</th>
    <th>Kanak</th>
    <th>Khandwa Road,Indore</th>
    <th>Dry and Wet</th>
    <th>Yoga-mats</th>
</tr>
<tr>
    <th>04</th>
    <th>Laxman</th>
    <th>Arora Nagar, Kurnool</th>
    <th>Dry</th>
    <th>Sleeping bags</th>
</tr>
<tr>
    <th>05</th>
    <th>Kamala</th>
    <th>Sugandh park road,Bhopal</th>
    <th>Dry</th>
    <th>Dustbins,trash bags</th>
</tr>

</table>


    
</body>
<style>
    body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;

}
.image{
    float: left;
}
.img{
    float: left;
    border:3px solid red;
    padding: 20px;
}
.para{
    display: inline-block;
    margin-left: 20px;
    line-height: 2em;
    width:700px;
    height: 400px;
    font-family: Verdana, Geneva, sans-serif;
}

    table{
        width: 1000px;
        margin: auto;
        margin-top: 10px;
    }
    table, tr, th{
        border: 2px solid black;
        border-collapse: collapse;
    }
    th{
        text-align: center;
        padding: 10px;
    }
    h3{
        margin-top: 15px;
        text-align: center;
        font-size: 25px;
        color: rgb(233, 15, 55);
        font-family: Georgia, "Times New Roman", Times, serif;
        text-transform: uppercase;
    }
    h1{
        text-align: center;
        color:blue;
    }
    h2{
        text-align: center;
        font-style: italic;
    }
    .hea{
        color:white;
        background-color:#0d2436 ;
    }
</style>